.bg-red-500{
    background-color: #ef4444;
}

.bg-gray{
    background-color: #f5f7fa;
}

@media only screen and (min-width:768px) {
    .md\:text-left {
        text-align: left;
    }

    .md\:justify-start {
        justify-content: start;
    }
}

@media only screen and (min-width:1400px) {
    .lg\:grid-cols-3 {
        grid-template-columns:repeat(3, minmax(0, 1fr))
    }
}

@media only screen and (min-width:1600px) {
    .xl\:grid-cols-4 {
        grid-template-columns:repeat(4, minmax(0, 1fr))
    }
}
